Lead Scraping - Async & Optimized.json
{
  "name": "Lead Scraping - Final Async Architecture",
  "nodes": [
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"status\": \"processing\",\n  \"message\": \"Scraping task has been successfully queued.\"\n}",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -880,
        736
      ],
      "id": "230fd936-d9a8-4c39-af51-e0d9c59c90ff",
      "name": "Respond to Webhook (Async)"
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "leads",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "user_id": "={{ $('Respond to Webhook (Async)').item.json.body.user_id }}",
            "lead_search_id": "={{ $('Respond to Webhook (Async)').item.json.body.lead_search_id }}",
            "full_name": "={{ $json.full_name }}",
            "job_title": "={{ $json.job_title }}",
            "linkedin_url": "={{ $json.linkedin }}",
            "personal_email": "={{ $json.personal_email }}",
            "company_email": "={{ $json.email }}",
            "bio": "={{ $json.headline }}",
            "industry": "={{ $json.industry }}",
            "company_name": "={{ $json.company_name }}",
            "company_website": "={{ $json.company_website }}",
            "company_linkedin": "={{ $json.company_linkedin }}",
            "company_city": "={{ $json.company_city }}",
            "company_country": "={{ $json.country }}",
            "company_address": "={{ $json.company_full_address }}",
            "company_domain": "={{ $json.company_domain }}",
            "company_state": "={{ $json.company_state }}",
            "company_description": "={{ $json.company_description }}",
            "company_annual_revenue": "={{ $json.company_annual_revenue }}",
            "company_total_funding": "={{ $json.company_total_funding }}",
            "company_technology": "={{ $json.company_technologies }}",
            "position": "={{ $json.seniority_level }}",
            "address": "={{ $json.city }},{{ $json.state }},{{ $json.country }}"
          },
          "matchingColumns": [
            "linkedin_url"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "lead_search_id",
              "displayName": "lead_search_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "full_name",
              "displayName": "full_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "job_title",
              "displayName": "job_title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "position",
              "displayName": "position",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "address",
              "displayName": "address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "bio",
              "displayName": "bio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "linkedin_url",
              "displayName": "linkedin_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "personal_email",
              "displayName": "personal_email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "company_email",
              "displayName": "company_email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "industry",
              "displayName": "industry",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "company_name",
              "displayName": "company_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "company_website",
              "displayName": "company_website",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "company_linkedin",
              "displayName": "company_linkedin",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "company_city",
              "displayName": "company_city",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "company_country",
              "displayName": "company_country",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "company_address",
              "displayName": "company_address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "company_state",
              "displayName": "company_state",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "company_domain",
              "displayName": "company_domain",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "company_description",
              "displayName": "company_description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "company_annual_revenue",
              "displayName": "company_annual_revenue",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "company_total_funding",
              "displayName": "company_total_funding",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "company_technology",
              "displayName": "company_technology",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        16,
        640
      ],
      "id": "241d1d28-ecf8-4067-9b50-70f057d46444",
      "name": "Leads (Upsert Data)",
      "credentials": {
        "postgres": {
          "id": "2kKpaD0nGIDPmWyi",
          "name": "Postgres-mahrab"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "api/lead-finder",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1104,
        736
      ],
      "id": "171cf766-bb5f-4e4f-bcc4-b67f624a554f",
      "name": "Webhook",
      "webhookId": "7f70f869-b395-4d1a-b0ca-76d0bb5db4e3"
    },
    {
      "parameters": {
        "operation": "Run actor and get dataset",
        "actorSource": "store",
        "actorId": {
          "__rl": true,
          "value": "IoSHqwTR9YGhzccez",
          "mode": "list"
        },
        "customBody": "={\n    \"company_keywords\": [\n        \"{{ $json.body.industry }}\"\n    ],\n    \"contact_job_title\": [\n        \"{{ $json.body.position }}\"\n    ],\n    \"contact_location\": [\n        \"{{ $json.body.location }}\"\n    ],\n    \"email_status\": [\n        \"validated\"\n    ],\n    \"fetch_count\": {{ $json.body.volume }}\n}"
      },
      "type": "@apify/n8n-nodes-apify.apify",
      "typeVersion": 1,
      "position": [
        -656,
        736
      ],
      "id": "d3c6bad1-6a67-41a5-8220-e75b955853b3",
      "name": "Lead Finder",
      "alwaysOutputData": true,
      "credentials": {
        "apifyApi": {
          "id": "Zla1tpMSPa2UbIDC",
          "name": "Apify (eGeneration)"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list"
        },
        "table": {
          "__rl": true,
          "value": "lead_searches",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "status": "completed",
            "id": "={{ $('Webhook').item.json.body.lead_search_id }}",
            "completed_at": "={{ $now }}",
            "user_id": "={{ $('Webhook').item.json.body.user_id }}",
            "industry": "={{ $('Webhook').item.json.body.industry }}",
            "position": "={{ $('Webhook').item.json.body.position }}",
            "volume": "={{ $('Webhook').item.json.body.volume }}",
            "target_location": "={{ $('Webhook').item.json.body.location }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": true,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "target_location",
              "displayName": "target_location",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "industry",
              "displayName": "industry",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "position",
              "displayName": "position",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "volume",
              "displayName": "volume",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "error_message",
              "displayName": "error_message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "started_at",
              "displayName": "started_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "completed_at",
              "displayName": "completed_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        240,
        640
      ],
      "id": "8a9d4514-d1c4-4405-b38a-fdea75f622d8",
      "name": "Lead Searches (Set Completed)",
      "credentials": {
        "postgres": {
          "id": "2kKpaD0nGIDPmWyi",
          "name": "Postgres-mahrab"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return $input.all().map(item => {\n    \n    // SCENARIO 1: Apify had a Hard Error (e.g., API Rate Limit, Timeout)\n    // When \"Continue (Regular Output)\" is used, n8n injects an \"error\" object.\n    if (item.json.error) {\n        return {\n            json: {\n                decision: \"actor_error\",\n                status: \"failed\",\n                error: item.json.error || \"Unknown Apify API Error\"\n            }\n        };\n    }\n\n    // SCENARIO 2: Apify Succeeded, but found 0 leads (Always Output Data injected an empty object)\n    if (Object.keys(item.json).length === 0) {\n        return {\n            json: {\n                decision: \"no_data_found\",\n                status: \"failed\",\n                error: \"Apify executed successfully but returned 0 leads for the provided keywords.\"\n            }\n        };\n    } \n    \n    // SCENARIO 3: Apify Succeeded and found leads!\n    return {\n        json: {\n            decision: \"data_found\",\n            status: \"success\",\n            ...item.json // Keeps all the original Apify data intact\n        }\n    };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -432,
        736
      ],
      "id": "956ff644-8d72-489c-905a-36a42adbc41d",
      "name": "Validate Apify Output"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "7a85ed5b-2af7-472a-a44c-77437e97e2ba",
              "leftValue": "={{ $json.status }}",
              "rightValue": "=success",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -208,
        736
      ],
      "id": "8c50933b-8cfc-4d25-83c1-6c052000c05e",
      "name": "Has Valid Data?"
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list"
        },
        "table": {
          "__rl": true,
          "value": "lead_searches",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Webhook').item.json.body.lead_search_id }}",
            "user_id": "={{ $('Webhook').item.json.body.user_id }}",
            "industry": "={{ $('Webhook').item.json.body.industry }}",
            "position": "={{ $('Webhook').item.json.body.position }}",
            "volume": "={{ $('Webhook').item.json.body.volume }}",
            "status": "failed",
            "completed_at": "={{ $now }}",
            "error_message": "={{ $json.error }}",
            "target_location": "={{ $('Webhook').item.json.body.location }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": true,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "target_location",
              "displayName": "target_location",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "industry",
              "displayName": "industry",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "position",
              "displayName": "position",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "volume",
              "displayName": "volume",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "error_message",
              "displayName": "error_message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "started_at",
              "displayName": "started_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "completed_at",
              "displayName": "completed_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        16,
        832
      ],
      "id": "9e82f8eb-1710-4403-af38-4afde30c23b2",
      "name": "Lead Searches (Set Error)",
      "credentials": {
        "postgres": {
          "id": "2kKpaD0nGIDPmWyi",
          "name": "Postgres-mahrab"
        }
      }
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "n8n.egeneration.co",
            "x-forwarded-scheme": "https",
            "x-forwarded-proto": "https",
            "x-forwarded-for": "10.10.0.216",
            "x-real-ip": "10.10.0.216",
            "content-length": "185",
            "user-agent": "GuzzleHttp/7",
            "content-type": "application/json"
          },
          "params": {},
          "query": {},
          "body": {
            "location": "state of são paulo, brazil",
            "industry": "educational institution",
            "position": "founder",
            "volume": "2",
            "user_id": 2,
            "lead_search_id": "019ec56d-5768-739b-bc9b-0964d4ed4835"
          },
          "webhookUrl": "https://n8n.egeneration.co/webhook/api/lead-finder",
          "executionMode": "production"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Respond to Webhook (Async)": {
      "main": [
        [
          {
            "node": "Lead Finder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Leads (Upsert Data)": {
      "main": [
        [
          {
            "node": "Lead Searches (Set Completed)",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Respond to Webhook (Async)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lead Finder": {
      "main": [
        [
          {
            "node": "Validate Apify Output",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Lead Searches (Set Completed)": {
      "main": [
        []
      ]
    },
    "Validate Apify Output": {
      "main": [
        [
          {
            "node": "Has Valid Data?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Valid Data?": {
      "main": [
        [
          {
            "node": "Leads (Upsert Data)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Lead Searches (Set Error)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": true,
    "timeSavedMode": "fixed",
    "timezone": "Asia/Dhaka",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "bffc30cc-4812-4e16-add7-a9ef155457d4",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3a8e012802f256258478d64da1b16909abecf4f288a904a823a76f9e7910b8b4"
  },
  "id": "_d6PmKY-faI5Y3Ged8Rop",
  "tags": []
}